<h1>Member Information Edit Page</h1>

<% if @user.errors.any? %>
  <div id="error_explanation">
    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with(model: @user, local: true) do |f| %>
  <div class="field">
    <%= f.label :username, "username" %>
    <%= f.text_field :username %>
  </div>

  <div class="field">
    <%= f.label :email, "Email address" %>
    <%= f.email_field :email %>
  </div>

  <div class="field">
    <%= f.label :age, "age" %>
    <%= f.number_field :age %>
  </div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<%= link_to "Back", tasks_path %> |
<%= link_to "Delete", confirm_destroy_user_path(@user) %>
